<h1>Create</h1>
<form action="/createCocktail" method="post"> 
<label for="name">Name</label>
<input type="text" name = "name"/>
<label for="preparation">Preparation</label>
<input type="text" name="preparation"/>
<label for="ingredient">Ingredient</label>
<input type="text" name="ingredient"/>
<button type="submit">Create</button>
</form>
 
