@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    font-family: 'Martell', sans-serif;
}

h1 {
    align-items: center;
    text-align: center;
}

section {
    padding: 20px;
}

.add-cocktail {
    text-align: center;
    align-items: center;

}

#container {
    height: 200px;
    width: 240px;
    align-items: center; /* Can be changed in the live sample */
    background-color: #8c8c8c;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
.image {
    width: 50px;
}

.btn {
    width: 100%;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.space {
    margin-bottom: 10px;
}

.login {
    text-align: center;
}